rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // For safety, allow read and write operations for now, as everything is proxied
    // through the Express backend proxy which operates securely on the server-side.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
